[unix_http_server]
file=/var/tmp/supervisor.sock  ; (the path to the socket file)
chmod=0777

[supervisord]
logfile=/opt/log/supervisor/supervisord.log ; (main log file;default $CWD/supervisord.log)
logfile_maxbytes=50MB        ; (max main logfile bytes b4 rotation;default 50MB)
logfile_backups=10           ; (num of main logfile rotation backups;default 10)
loglevel=info                ; (log level;default info; others: debug,warn,trace)
stderr_logfile=/opt/log/supervisor/error.log;
pidfile=/var/run/supervisord.pid ; (supervisord pidfile;default supervisord.pid)
nodaemon=false              ; (start in foreground if true;default false)
minfds=1024                  ; (min. avail startup file descriptors;default 1024)
minprocs=200                 ; (min. avail process descriptors;default 200)
childlogdir=/tmp ;
#user=root;

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///var/tmp/supervisor.sock ; use a unix:// URL  for a unix socket

[program:mesos-{{ mesos_install_mode }}]
process_name = mesos-{{ mesos_install_mode }}-%(process_num)s
command = bash {{ program_dir }}/mesos-{{ mesos_install_mode }}/mesos_control -t slave start
autostart = true
numprocs_start = 10000
numprocs = 1

#[program:consul-agent]
#process_name = consul-agent-%(process_num)s
#command = bash {{ program_dir }}/consul-agent/consul/consul_control -t agent start
#autostart = true
#numprocs_start = 10000
#numprocs = 1
